# Working with Different Data Types 

Let's observe the **data types** of expressions involving operands of the **same data types**.

In [1]:
print(type(78 + 22))

<class 'int'>

In [2]:
print(type(78 + 22 * 5))

<class 'int'>

In [3]:
print(type(12.5 - 1.0))

<class 'float'>

In [4]:
print(type(2 + 3j + 1 - 2j))

<class 'complex'>

We can see that binary Arithmetic operators with *both* operands being of similar data types result in values with the same data types of the operands.

Except for the **division operator**.

In [5]:
print(type(2 / 2))

<class 'float'>

In [6]:
print(type(2.0 / 2.0))

<class 'float'>

We can see that whether the operands were either `int` or `float` the results were always `float`. This makes sense since the result of a division can have *decimal* points.

Now, let's try dividing complex numbers.

In [7]:
c1 = 4 + 4j
c2 = 2 + 2j
print(c1 / c2)
print(type(c1 / c2))

(2+0j)
<class 'complex'>

This, again, made sense since a division of two complex numbers can result in another complex number.

## Polymorphic Operators

### Arithmetic Addition & String Concatenation

The `+` symbol performs *Arithmetic Addition* when both operands are *numbers*.

In [8]:
print(2 + 2)
print(2.0 + 3.5 + 4.3)

4
9.8

The `+` symbol performs *String Concatenation* when both operands are *str*.

In [9]:
s = "1" + "2" + "3"
print(s)

123

Mixing `str` and `numbers` as operands of `+` results in an **error** since the operator does *not support* such a data type combination.

In [10]:
x = 32
print("The number is " + x)

TypeError: can only concatenate str (not "int") to str

### Arithmetic Multiplication & String Multiplication

The `*` symbol performs *Arithmetic Multiplication* when both operands are *numbers*.

In [11]:
print(2 * -0.5)
print(10 * 10 * 10)

-1.0
1000

The `*` symbol performs *String Multiplication* when one operand is `str` while the other is `int`.

In [12]:
print("(^__^)" * 3)
print(10 * "(*__*)")

(^__^)(^__^)(^__^)
(*__*)(*__*)(*__*)(*__*)(*__*)(*__*)(*__*)(*__*)(*__*)(*__*)

In *String Multipication*, the *number* must be `int` only.

In [13]:
print("(^__^)" * 3.5)

TypeError: can't multiply sequence by non-int of type 'float'

## Implicit Data Type Conversion
 * Occurs automatically
 * **Implicit Data Type Conversion** always promote data type capable of holding *less information* to data type capable of holding *more information*.

In [14]:
print(type(32 * 5.0))

<class 'float'>

In the above statement, the `int` value of 32 was **converted** to `float` and then **multiplied** with 5.0.

In [15]:
print(type(5 * (3 + 2j)))
print(type((1 + 1j) + -0.5))

<class 'complex'>
<class 'complex'>

In the code above, both `int` and `float` were **converted** to `complex` before being used as operands in their *respective* statements.

## Explicit Data Type Conversion

We use *typecasting functions* to convert data to the desired data types.

Typecasting functions include (but not limited to):

- int( )
- float( )
- complex( )
- str()
- bool ( )

**An example situation in which explicit data type conversion is needed.**

In [16]:
# This program calculates n^10, where 1 is number entered by the user.
n = input("Please enter n :")
result = float(n) ** 10
# Show the output as n = [the input] -> n^10 = [the result]
print("n =", n, "-> n^10 =", str(result))

Please enter n :2
n = 2 -> n^10 = 1024.0

### `int()`

In [17]:
print(int(1.8))
# print(int(2 + 2j))
print(int("12"))
# print(int("12.5"))
# print(int("Hello"))
print(int(True))
print(int(False))

1
12
1
0

### `float()`

In [18]:
print(float(1))
# print(float(2 + 2j))
print(float("12"))
print(float("12.5"))
# print(float("Hello"))
print(float(True))
print(float(False))

1.0
12.0
12.5
1.0
0.0

### `complex()`

In [19]:
print(complex(1))
print(complex(1.8))
print(complex("12"))
print(complex("12.5"))
# print(complex("Hello"))
print(complex(True))
print(complex(False))

(1+0j)
(1.8+0j)
(12+0j)
(12.5+0j)
(1+0j)
0j

To create a new complex number with `complex()`, we can use `complex(re, im)` (called a *constructor function*).

In [20]:
print(complex(1, 1))
print(complex(1.5, -1.0))
print(complex(1, 0))
print(complex(0, 1))

(1+1j)
(1.5-1j)
(1+0j)
1j

### `str()`

In [21]:
print(str(1))
print(str(1.8))
print(str(2 + 2j))
print(str(True))
print(str(False))

1
1.8
(2+2j)
True
False

### `bool()`

In [22]:
print(bool(1))
print(bool(1.8))
print(bool("12"))
print(bool("12.5"))
print(bool("Hello"))
print(bool("False"))
print(bool(True))
print("-" * 10)
print(bool(0))
print(bool(0.0))
print(bool(0 + 0j))
print(bool(""))
print(bool(False))

True
True
True
True
True
True
True
----------
False
False
False
False
False