# Tuple

Tuples stores **multiple items** in a single variable, similar to Lists. The difference is that tuples are **immutable**.

## Creating Tuples

- Tuples can be created using round brackets (parentheses) `( )`

In [1]:
position = (100, 50)
print(type(position))
print(len(position))

<class 'tuple'>
2

- Tuples can be created using `tuple()` function

In [2]:
# The tuple() function creates a tuple object.
# Parameter = iterable object (optional).

t = tuple([1, 2, 3])
print(t)

(1, 2, 3)

In [3]:
t = tuple('abc')
print(t)

('a', 'b', 'c')

In [4]:
t = tuple((1, 2, 3))
print(t)

(1, 2, 3)

- Can tuple be *empty*?

In [5]:
t1 = ()
t2 = tuple()
print(t1, type(t1))
print(t2, type(t2))

() <class 'tuple'>
() <class 'tuple'>

- Create a tuple with *one* item.

In [6]:
t1 = (1)
print(t1, type(t1))

1 <class 'int'>

In [7]:
t1 = (1,)
print(t1, type(t1))

(1,) <class 'tuple'>

In [8]:
t2 = tuple([1])
print(t2, type(t2))

(1,) <class 'tuple'>

## Items in a tuple can be *same* or *different* data types. (**Heterogenous**)

In [9]:
book_info = ('Python Basics', 39.99, 2021, ('D.Amos', 'D.Bader', 'J.Jablonski', 'F. Heisler'))
print(book_info)

('Python Basics', 39.99, 2021, ('D.Amos', 'D.Bader', 'J.Jablonski', 'F. Heisler'))

- To access an item in the tuple using **index**; we use a square bracket: `[_]`

In [10]:
print(book_info[0])
print(book_info[-1])

Python Basics
('D.Amos', 'D.Bader', 'J.Jablonski', 'F. Heisler')

## Slicing

- We can also use **slicing** to access a *range* of items by defining the `start`, `stop`, an `step` parameters.

In [11]:
print(book_info[:3])

('Python Basics', 39.99, 2021)

## Unpacking tuples

- We can extract the values of tuple's items assigning to variables.

In [12]:
title, price, year = book_info[:-1]
print(title)
print(price)
print(year)

Python Basics
39.99
2021

## Tuple are "immutable"; can not be modified.

In [13]:
%%script python --no-raise-error

print(position)
position[0] = 120

Traceback (most recent call last):
  File "<stdin>", line 2, in <module>
NameError: name 'position' is not defined

In [14]:
# Tuple can be reassigned

position = (120, 50)
print(position)

(120, 50)

In [15]:
# Combining tuples using operator '+'

pos = (1, 2, 3)
position += pos
print(position)

(120, 50, 1, 2, 3)

In [16]:
# id() function returns the identity of the object.
# Parameter = an object

t1 = (1, 2, 3)
print(id(t1), t1)

1706194405760 (1, 2, 3)

In [17]:
t2 = (40, 50)
print(id(t2), t2)

1706193734208 (40, 50)

In [18]:
t1 += t2
print(id(t1), t1)

1706194530800 (1, 2, 3, 40, 50)

## Delete tuple.

- cannot delete item(s) in the tuple.
- `del` deletes the whole tuple object.

In [19]:
%%script python --no-raise-error

del position
print(position)

Traceback (most recent call last):
  File "<stdin>", line 2, in <module>
NameError: name 'position' is not defined

## Tuples are "iterable" objects.

- We can **iterate** through tuples.

In [20]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [21]:
# Use for loop

for i in planets:
    print(i)

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

In [22]:
# Use while loop

i = 0
while i < len(planets):
    print(planets[i])
    i += 1

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

In [23]:
# Loop through the index number

for i in range(len(planets)):
    print(planets[i])

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

In [24]:
# Loop using enumerate()

for i, v in enumerate(planets):
    print(i + 1, v)

1 Mercury
2 Venus
3 Earth
4 Mars
5 Jupiter
6 Saturn
7 Uranus
8 Neptune

In [25]:
# Use list comprehension

[print (x) for x in planets]

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

[None, None, None, None, None, None, None, None]

## Cloning of copying a tuple

In [26]:
t = (1, 2, 3)

In [27]:
# Use '=' assignment statement

a = t
print(a)

(1, 2, 3)

In [28]:
# Use slicing

b = t[:]
print(b)

(1, 2, 3)

In [29]:
# Use tuple() function

c = list(t)
print(c)

[1, 2, 3]

## Tuple's methods

In [30]:
# index() searches the tuple for a specified value and returns the index.

planets.index('Earth') # return the index of the first occurrence

2

In [31]:
planets.index('Earth', 0, 3)

2

In [32]:
if 'Earth' in planets[3:]:
    print(planets.index('Earth', 3))
else:
    print('Not found')

Not found

In [33]:
print(planets.count('Earth'))
print(planets.count('Moon'))

1
0

In [34]:
print('Moon' in planets)
print('Venus' in planets)

False
True