# Set
- Sets are another data type in Python, storing **unordered** and **no duplicate** value items.

---

## Creating Set

- Sets can be created using curly brackets (braces) `{ }`, like dictionaries. Each item is separated by `,`.
- Sets can be created using `set()` function.

In [1]:
# Create a set using curly brackets.

sport = {'rugby', 'soccer', 'basketball', 'volleyball', 'softball', 'rugby'}
print(type(sport))
print(len(sport))
print(sport)

<class 'set'>
5
{'soccer', 'volleyball', 'basketball', 'softball', 'rugby'}

- Sets can be created using `set()` function.
```
s = set(<iterable object>)
```

In [2]:
s = {}
print(type(s))
print(s)

<class 'dict'>
{}

In [3]:
%%script python --no-raise-error

s = set(1)
print(s)

Traceback (most recent call last):
  File "<stdin>", line 2, in <module>
TypeError: 'int' object is not iterable

In [4]:
s = set([1])
print(s)

{1}

In [5]:
s = set('abc')
print(s)

{'c', 'a', 'b'}

In [6]:
s = set({1: 'x', 2: 'y'})
print(s)

{1, 2}

## Set operators

In [7]:
dad_sport = {'soccer', 'baseball', 'basketball', 'tennis'}
mom_sport = {'basketball', 'volleyball', 'tennis', 'rowing'}
kid_sport = {'soccer', 'tennis', 'swimming'}

- Set **union** returns a new set with distinct items from all the given sets.
1. Using `|` operator.
2. Using `union()` method.

In [8]:
# Using | operator to union 2 set operands.

dad_sport | mom_sport

{'baseball', 'basketball', 'rowing', 'soccer', 'tennis', 'volleyball'}

In [9]:
# Using union() method with iterable object(s) as the argument.

dad_sport.union(mom_sport)

{'baseball', 'basketball', 'rowing', 'soccer', 'tennis', 'volleyball'}

In [10]:
dad_sport.union(mom_sport, kid_sport)

{'baseball',
 'basketball',
 'rowing',
 'soccer',
 'swimming',
 'tennis',
 'volleyball'}

- Set **intersection** returns a new set with common items from all the given sets.

1. Using `&` operator.
2. Using `intersection()` method.

In [11]:
dad_sport & mom_sport

{'basketball', 'tennis'}

In [12]:
dad_sport & mom_sport & kid_sport

{'tennis'}

In [13]:
uncle_sport = {'golf'}
dad_sport & mom_sport & kid_sport & uncle_sport

set()

- Set **difference** returns a new set with all items in the given set but not in the other sets.

1. Using `-` operator.
2. Using `difference()` method.

In [14]:
dad_sport - mom_sport

{'baseball', 'soccer'}

In [15]:
kid_sport.difference(dad_sport, mom_sport)

{'swimming'}

- Set **symmetric difference** returns a new set of all items in either in A or B, but not both.

1. Using `^` operator.
2. Using `symmetric_difference()` method.

In [16]:
dad_sport ^ mom_sport

{'baseball', 'rowing', 'soccer', 'volleyball'}

In [17]:
dad_sport.symmetric_difference(uncle_sport)

{'baseball', 'basketball', 'golf', 'soccer', 'tennis'}

## Adding, updating, and deleting items in a set.

- Sets are a **mutable** collection of **distinct immutable** values that are unordered.
- `add(<immutable object>)` method adds a single object to the set.

In [18]:
a = {1, 2, 3}
b = {3, 4, 5}
a.add(4)
print(a)

{1, 2, 3, 4}

- `update(<iterable object>)` method updates the set, adding items from other iterables.

In [19]:
a.update(b)
print(a)

{1, 2, 3, 4, 5}

In [20]:
a.update([5, 6, 7], 'xyz')
print(a)

{1, 2, 3, 4, 5, 6, 7, 'z', 'x', 'y'}

- `remove(<item>)` method removes an item from the set. `Error` is raised if the item is not in the set.

In [21]:
a.remove(5)
print(a)

{1, 2, 3, 4, 6, 7, 'z', 'x', 'y'}

In [22]:
%%script python --no-raise-error
a.remove(5)

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'a' is not defined

- `discard(<item>)` method removes from the set. No exception throws if the item is not in the set.

In [23]:
a.discard(4)
print(a)

{1, 2, 3, 6, 7, 'z', 'x', 'y'}

In [24]:
a.discard(4)
print(a)

{1, 2, 3, 6, 7, 'z', 'x', 'y'}

- `pop()` method deletes and returns a random item from the set. If the set is empty, `Error` is raised.

In [25]:
print(a.pop())
print(a)

1
{2, 3, 6, 7, 'z', 'x', 'y'}

- `clear()` method deletes all items from the set.

In [26]:
print(b)
b.clear()
print(b)

{3, 4, 5}
set()

## Testing on sets

- Membership testing

In [27]:
a = {1, 2, 3}
b = {3, 4, 5}

print(3 in a)
print(6 in b)

True
False

Determines whether or not two sets have any items in common.

- `isdisjoint()` method returns `True` if both sets have no items in common.

In [28]:
a.isdisjoint(b)

False

In [29]:
a.discard(3)
print(a.isdisjoint(b))

True

Determines whether one set is a subset of the other.

- `s1.issubset(s2)` method returns `True` if `s1` is a subset of `s2`.
- `s1 <= s2`

In [30]:
a <= b

False

In [31]:
c = {1, 2, 3}
a <= c

True

Determines whether one set is a proper subset of the other.

- `s1 < s2` returns `True` if `s1` is a proper subset of `s2`.

In [32]:
a < a

False

In [33]:
a < c

True

Determines whether one set is a superset of the other.

- `s1.issuperset(s2)` return `True` if `s1` is a superset of `s2`.
- `s1 >= s2`

In [34]:
c >= a

True

Determines whether one set is a proper superset of the other.

- `s1 > s2` returns `True` if `s1` is a proper superset of `s2`.

In [35]:
c > c

False

## Iterating through Set

- we can use `for` loop to iterate through sets.

In [36]:
for i in dad_sport:
    print(i)

basketball
soccer
tennis
baseball

In [37]:
for i in enumerate(dad_sport):
    print(i)

(0, 'basketball')
(1, 'soccer')
(2, 'tennis')
(3, 'baseball')